 #bars{
    display: none;
}
#navlink a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: small;
  font-weight: bold;
}
#navlink a:hover{
  color:  blue;
  transition: 0.3s;
}


@media screen and (max-width: 927px){
    #bars{
        display: flex;
        margin-right: 20px;
    }
    #navlink{
        display: none;
    }
    #nav1 span{
        display: none;
    }
    #logo{
        height: 28px;
        width: 28px;
    }
}

