 #bars{
    display: none;
}
#navlink a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: small;
  font-weight: bold;
}
#navlink a:hover{
  color:  blue;
  transition: 0.3s;
}

/* @media screen and (max-width: 952px){
    #homePage h1{
        font-size: 25px;
    }
    #homePage p{
        font-size: 15px;
    }

} */
@media screen and (max-width: 927px){
    #bars{
        display: flex;
        margin-right: 20px;
    }
    #navlink{
        display: none;
    }
    #nav1 span{
        display: none;
    }
    #logo{
        height: 28px;
        width: 28px;
    }
}
/* @media screen and (max-width: 827px){
    #homePage h1{
        font-size: 18px;
    }
    #homepage p{
        font-size: 9px;
    }
}
@media screen and (max-width: 768px){
    
    #welcomeNote {
      position: absolute;
      top: 150px;
      height: 70px;
      
    }

    #welcomeNote h1 {
      font-size: 14px;

    }

    #welcomeNote p {
      font-size: 12px;
    }



}
@media screen and  (max-width:514px){
    #welcomeNote {
      position: absolute;
      top: 90px;
      height: 35px;
      border-radius: 10px;
      line-height: 15px;
      width: 80%;
    }

    #welcomeNote h1 {
      font-size: 10px;
    }

    #welcomeNote p {
      font-size: 7px;
    }
} */
